<launch>

    <arg name="model" default="$(find iliad)/urdf/iliad.urdf.xacro"/>
    
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find iliad)/rviz/iliad_rviz.rviz" />



    <arg name="id_robot" default="robot"/>
    <arg name="prefix" default="$(arg id_robot)_"/>



    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)' 
           prefix:=$(arg prefix)" />
    
    
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
