<launch>
    <!-- Model of the robot -->
    <arg name="model" default="$(find iliad)/urdf/iliad.urdf.xacro"/>
    <arg name="id_robot" default="robot"/>
    <arg name="prefix" default="$(arg id_robot)_"/>
    <arg name="ros_planar_move_plugin" default="true"/>
   
    <!-- Others gui config and RViz -->
    <arg name="rvizconfig" default="$(find iliad)/rviz/iliad_rviz.rviz" />

    <!-- Gazebo Arguments-->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- Open Gazebo World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)" />        
    </include>
    
    <!-- Load robot model in ROS parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)' 
            prefix:=$(arg prefix)
            ros_planar_move_plugin:=$(arg ros_planar_move_plugin)"
           />

    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
    args="-unpause -urdf -model iliad -param robot_description" respawn="false" output="screen" />
    
    <rosparam command="load"
            file="$(find iliad)/config/joints.yaml"
            ns="iliad_joint_state_controller" />      
    
    
    
     <!--<xacro:if value="${summit_control_mode}">
        <rosparam command="load"
                file="$(find iliad)/config/diffdrive.yaml"
                ns="iliad_diff_drive_controller" />
        <node name="iliad_controller_spawner" pkg="controller_manager" type="spawner"
        args="iliad_joint_state_controller
              iliad_diff_drive_controller
              shutdown-timeout 3"/>
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
            <param name="default_topic" value="/iliad_diff_drive_controller/cmd_vel"/>
        </node>-->
     <!--</xacro:if>-->
    
    <!--USE ROS PLANAR PLUGIN -->
    <!--<xacro:unless value="${summit_control_mode}">-->
        <node name="iliad_controller_spawner" pkg="controller_manager" type="spawner"
        args="iliad_joint_state_controller
              --shutdown-timeout 3"/>
        <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
            <param name="default_topic" value="/robotnik_base_control/cmd_vel"/>
        </node>
     <!--</xacro:unless>-->
    
        
    <rosparam command="load"
            file="$(find iliad)/config/ur10e_controllers.yaml"/>
    
    <node name="ur10e_controller_spawner" pkg="controller_manager" type="spawner"
    args="shoulder_pan_joint_position_controller shoulder_lift_joint_position_controller elbow_joint_position_controller" output="screen" respawn="false" />
    
        
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />   

</launch>
