<launch>

    <!-- Gazebo Arguments-->
    <arg name="gazebo_paused" default="true"/>
    <arg name="gazebo_use_sim_time" default="true"/>
    <arg name="gazebo_gui" default="true"/>
    <arg name="gazebo_headless" default="false"/>
    <arg name="gazebo_debug" default="false"/>

    <!-- Open Gazebo World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find iliad)/world/pallet_world_4.world"/> <!-- -->
        <arg name="paused" value="$(arg gazebo_paused)"/>
        <arg name="use_sim_time" value="$(arg gazebo_use_sim_time)"/>
        <arg name="gui" value="$(arg gazebo_gui)" />
        <arg name="headless" value="$(arg gazebo_headless)"/>
        <arg name="debug" value="$(arg gazebo_debug)" />        
    </include>

</launch>
