<launch>
    <arg name="model" default="$(find summit_xl_description)/robots/summit_xls_std.urdf.xacro"/> 

    <arg name="rvizconfig" default="$(find iliad)/rviz/summitxl_a.rviz" />


    <arg name="id_robot" default="summit_xl"/>

    <arg name="omni_drive" default="true"/>
    <arg if="$(arg omni_drive)" name="ros_planar_move_plugin" value="true"/>
    <arg unless="$(arg omni_drive)" name="ros_planar_move_plugin" default="true"/>
    <arg name="ros_planar_move_plugin_force_based" default="false"/>

    <arg name="launch_move_base" default="true"/>
    <arg name="movebase_local_planner" default="teb"/>

    
    
    
    <include file="$(find iliad)/launch/gazebo2.launch">
        <arg name="model" value="$(arg model)" />
    </include>
  
  <!-- start summit_xl_control nodes -->
    <include file="$(find summit_xl_control)/launch/summit_xl_control.launch">
        <arg name="prefix" value="$(arg id_robot)_"/>
        <arg name="sim" value="true"/>

        <arg if="$(arg omni_drive)" name="kinematics" value="omni"/>
        <arg unless="$(arg omni_drive)" name="kinematics" value="skid"/>

        <arg name="ros_planar_move_plugin" value="$(arg ros_planar_move_plugin)"/>
    </include>
  
  
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  
</launch>
