<?xml version="1.0"?>
<robot name="iliad" xmlns:xacro="http://wiki.ros.org/xacro">
        
    <xacro:arg name="panda_base_x"     default="0.25"/>
    <xacro:arg name="panda_base_y"     default="-0.22"/>
    <xacro:arg name="panda_base_z"     default="0.15"/>
    <xacro:arg name="panda_base_roll"  default="0.00"/>
    <xacro:arg name="panda_base_pitch" default="0.785"/>  <!-- pi/4=0.785 -->
    <xacro:arg name="panda_base_yaw"   default="0.00"/>
    <xacro:arg name="ur10e_base_x"     default="0.35"/>
    <xacro:arg name="ur10e_base_y"     default="0.32"/>
    <xacro:arg name="ur10e_base_z"     default="0.05"/>
    <xacro:arg name="ur10e_base_roll"  default="0.00"/>
    <xacro:arg name="ur10e_base_pitch" default="0.00"/>
    <xacro:arg name="ur10e_base_yaw"   default="0.00"/>
    
    <xacro:arg name="summit_prefix" default="summitxls_"/>
    <xacro:arg name="ur10e_prefix"  default="ur10e_"/>
    <xacro:arg name="panda_prefix"  default="panda"/>
    
    <xacro:include filename="$(find iliad)/urdf/summit_macro.xacro"/>
    <xacro:include filename="$(find iliad)/urdf/ur_macro.xacro"/>
    <xacro:include filename="$(find iliad)/urdf/franka_robot.xacro"/>
    <xacro:include filename="$(find iliad)/urdf/velvet_new.urdf.xacro"/>
    <xacro:include filename="$(find softhands_description)/urdf/softhands.xacro"/>
    <xacro:include filename="$(find iliad)/urdf/controlBoxes.urdf.xacro"/>
    <xacro:include filename="$(find iliad)/urdf/armsBase.urdf.xacro"/>
    <xacro:include filename="$(find iliad)/urdf/flange.urdf.xacro"/>    

    <!-- Robot Assembling   --> 
    <!-- The ILIAD Robot is composed by:
            - Summit XLS Steel
            - UR10e Manipulator
            - Franka Emika Panda Simulator
            - Controller Boxes of manipulators
            - A steel plate to connect Summit XLS to each manipulator
            - A Customized velvet tray (UR10e end effector)
            - A SoftHand (Franka end effector)
            - A flange to connect the last Franka's link to the Softhand
    --> 
    
    
    <xacro:summit_xls_macro prefix="$(arg summit_prefix)" publish_bf="true" hq="true"/>
    
    <xacro:controlBoxes_macro parent="$(arg summit_prefix)base_chapa" name="controller_unit">
        <origin rpy="0 0 0" xyz="-0.175 0 0"/>         
    </xacro:controlBoxes_macro>
    
    <xacro:armsBase_macro parent="$(arg summit_prefix)base_chapa" name="arms_base">
        <origin xyz="0.270 0 0" rpy="0 0 0"/>        
    </xacro:armsBase_macro>
    
    
    <xacro:ur_robot_gazebo prefix="$(arg ur10e_prefix)"/>
    
    <joint name="summit_to_ur10e" type="fixed">
        <parent link="$(arg summit_prefix)base_chapa"/>
        <child  link="$(arg ur10e_prefix)base_link"/>
        <origin xyz="$(arg ur10e_base_x) $(arg ur10e_base_y) $(arg ur10e_base_z)" 
                rpy="$(arg ur10e_base_roll) $(arg ur10e_base_pitch) $(arg ur10e_base_yaw)"/>
    </joint>

    <xacro:velvet_macro parent="ur10e_tool0" name="velvet">
        <origin xyz="0 0 0.14" rpy="0 0 0"/>           
    </xacro:velvet_macro>
    
    <xacro:franka_robot arm_id="$(arg panda_prefix)" joint_limits="${xacro.load_yaml('$(find iliad)/robots/joint_limits.yaml')}"/>
    
    <joint name="$summit_to_panda" type="fixed">
        <parent link="$(arg summit_prefix)base_chapa"/>
        <child  link="$(arg panda_prefix)_link0"/>
        <origin xyz="$(arg panda_base_x) $(arg panda_base_y) $(arg panda_base_z)" 
                rpy="$(arg panda_base_roll) $(arg panda_base_pitch) $(arg panda_base_yaw)" />
    </joint>   
   
    <xacro:flange_macro parent="$(arg panda_prefix)_link8" name="flange">
        <origin rpy="0 0 -0.785" xyz="0 0 0.04"/>         
    </xacro:flange_macro>
     
    <xacro:softhands type="right" 
        version = "v1.0_simple"
        parent = "$(arg panda_prefix)_link8"
        position ="0.05 -0.05 0.04"
        orientation ="0 -1.57 2.355" 
        operation_mode = "0"
        translation="0.0">
    </xacro:softhands>
  
    
    <!--********************************************************************************************************************************************* -->

    <!-- ROS Plugins -->
    <gazebo>
        <plugin name="ros_control" filename="libgazebo_ros_control.so">
            <robotParam>robot_description</robotParam>
            <robotNamespace>/</robotNamespace>
            <controlPeriod>0.001</controlPeriod>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
     
    <xacro:include filename="$(find summit_xl_description)/urdf/bases/summit_xl_base.gazebo.xacro" />
    <xacro:arg name="ros_planar_move_plugin" default="true"/>
	<xacro:arg name="ros_planar_move_plugin_force_based" default="true"/>
    <!-- <xacro:arg name="gpu" default="true"/> -->
    
    <xacro:if value="$(arg ros_planar_move_plugin)">
        <xacro:omni_steering prefix="$(arg summit_prefix)" publish_tf="true" force_based="$(arg ros_planar_move_plugin_force_based)"/>
    </xacro:if>
    
</robot>
